{% extends 'base.html' %} {% load static %} {% block content %}
    <section class="Sign-wrapper">
        <div class="container-fluid p0">
            <div class="col-sm-5 p0">
                <img src="{% static 'img/signin_logo.png' %}" width="100%">
            </div>
            <form action="." method="post" autocomplete="off">
                {% csrf_token %}
                <div class="col-sm-5 col-sm-offset-1 register-wrap">
                    <h1>Reset Password</h1>
                    <div class="form-group">
                        <label for="email">* Original password </label>
                        <input type="password" class="form-control"  placeholder="Current Password" name="old_password" id="id_old_password">
                    </div>
                    <div class="form-group">
                        <label for="email">* New Password</label>
                        <input type="password" class="form-control" placeholder="Please set your login password" name="new_password1" id="id_new_password1">
                    </div>
                    <div class="form-group">
                        <label for="email">* Confrim password</label>
                        <input type="password" class="form-control"   placeholder="Confirm your password" name="new_password2" id="id_new_password2">
                    </div>

                    <div class="clearfix"></div>
                   <div align="right"> <button class="btn  m20">Cancel</button> <button class="btn btn-info m20">Change</button> </div>
                </div>
            </form>

        </div>
    </section>
{% endblock %}

{% block footer %}
    <footer>
        <div class="footer-bottom">
            © Designed by wwwebinvader
        </div>
    </footer>
{% endblock %}