<h4>Hi {{ pending_transaction.user.username }},</h4> </br>
<p>You are trying to send <b>{{pending_transaction.amount}} {{pending_transaction.currency}}</b> to 
<b>{{pending_transaction.transaction_to}}</b></b></p>
<p>Please click or copy the link below to confirm withdrawal:
    <a href="{{ domain }}{{uri}}">click here</a></p>
</br>
<p>Sincerely,</p>
<p>Bullxchange</p>
<p>http://bullxchange.io</p>
