{% extends 'base.html' %} 
{% load static %} 
{% load transaction_status %} 

{% block title %}Send Bitcoin{% endblock %}


{% block content %}

<div class="send-coin ">
    <div class="container">
        <h2 class="Ubuntu mb20">Withdraw Bitcoin</h2>
        <div class="row mb50 send-coin-wrap">
            <div class="row m0">
                <h4 class="m30"> <b>Your BTC wallet details</b> </h4>
                <div class="row m0 wallet-details">
                    <div class="col-sm-6">
                        <img class="d-inline-block" src="{% static 'img/bitcoin.png' %}" width="40px">
                        <p class="d-inline-block mf10"><b>BTC</b></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="m10 f-medium" align="right">Bal: {% get_balance_btc request.user %} BTC</p>
                    </div>
                </div>
                <form method="post" action=".">
                    {% csrf_token %}
                    <h4 class="m30"><b>Recipient Address</b></h4>
                    <div class="form-group">
                        <input type="text" name="address" class="form-control wallet-send-coin-addr"  placeholder="Enter the recipient wallet address" value="{{form.address.value}}">
                        <span class="errorlist">{{form.address.errors|striptags}}</span>
                    </div>
                    <h4 class="m30"><b>Amount to transfer</b></h4>
                    <div class="form-group">
                        <input id="transfer-amt" oninput="getAmount(this.value)" type="text" name="amount" class="form-control wallet-send-coin-amt"  placeholder="Enter the Amount to send" value="{{form.amount.value}}">
                        <span class="errorlist">{{form.amount.errors|striptags}}</span>
                    </div>
                    <div class="row m0 wallet-details">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <p class="m10 f-medium" align="right">Transaction Fee : <span id="txn-fee">0</span> BTC</p>
                            <p class="m10 f-medium" align="right"> Total : <span id="total-amt">0</span> BTC</p>
                        </div>
                    </div>
                    <div align="right">
                        <a href="{% url 'coins:wallets' %}" type="button" class="btn-back btn m20 pull-left"> <i class="fas fa-arrow-left"></i> BACK TO WALLET</a>
                        <button type="submit" class="btn-main btn m20">  CONFIRM </button>
                    </div>
                </form>
                <div class="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
    <div id="successModal" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <img class="m30" src="{% static 'img/important.png' %}" width="40%">
                    <h3 class="Ubuntu">Important</h3>
                    &nbsp;
                    <h5 class="Ubuntu m0">An email has been send to you.</h5>
                    <h5 class="Ubuntu m0">Please click on the link in the email to confirm the withdrawal</h5>
                    &nbsp;
                </div>
                <div class="pop-footer" style="text-align: center;">
                    <a style="" href="{% url 'coins:wallets' %}" class="btn btn-main">OK</a>
                </div>
            </div>
        </div>
    </div>


{% if success %}
    <div id="confirm_Send" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body" style='line-height: 2em;'>
                    <span>Recipient Address : </span> <b><span id="to_span"></span></b>
                    <br>
                    <span>Recipient receives : </span><b><span id="amount_span">0.00000</span><span> BTC</span></b>
                    <br>

                    <span><b>Confirm Transaction?</b></span>
                </div>
                <div class="pop-footer" style="text-align: center;">
                    <button style="width:150px" type="button" class="btn btn-upload" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="sendConfirm()"  class="btn btn-default" style="width: 200px;margin: 0px 11px;">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div id="message-model" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
<div class="modal-dialog modal-xs">
    <div class="modal-content">
        <div class="modal-body" style="padding: 50px 10px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <img class="m30" src="{% static 'img/thumb-down.png' %}" width="40%">
            <h4 class="Ubuntu m0">{{error}}</h4>
        </div>
    </div>
</div>
</div>

  <div id="otp-model" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-body" style="padding-top: 40px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="message-text"> Enter SMS OTP</h4>
                <input name="otp"/>
            </div>
            <div class="pop-footer" style="text-align: center;">
                <button type="button" onclick="sendOTP()" class="btn btn-default" style="width: 200px;margin: 0px 11px;">Submit</button>
                <button type="button" onclick="resendOTP()" class="send-otp-btn btn btn-default" style="width: 200px;margin: 0px 11px;">Resend</button>
            </div>
        </div>
    </div>
  </div>
  <!-- <img id="loader" src="{% static 'img/ajax-loader.gif' %}" style="position: absolute;top: 50%;left: 50%;"> -->
{% endblock content %}



{% block script %} 
<script type="text/javascript">

var feeDict = {{fee_dict|safe}};
var dictKeys = Object.keys(feeDict);

{% if fee_obj %}
    var rate_type = "{{fee_obj.rate_type}}";
{% else %}
     var rate_type = null;
{% endif %}

function getAmount(value){

    setTimeout(function(){

        if(rate_type!=null){

            var nearest = null;
            for(i=0; i< dictKeys.length; i++){
                if(parseFloat(dictKeys[i]) <= parseFloat(value)){
                    if(nearest!=null){
                        nearest = parseFloat(dictKeys[i]);
                        console.log(nearest)
                    }else if(parseFloat(dictKeys[i]) >= nearest){
                        nearest = parseFloat(dictKeys[i]);
                    }
                }
            }

            if(nearest!=null && parseFloat(value)!=0.0){
                console.log(feeDict[nearest])
                var fee_rate = parseFloat(feeDict[nearest]);
            }else{
                var fee_rate = parseFloat(0.0);
            }

            if(rate_type=='percentage'){
                var fee =  parseFloat(value) * fee_rate * parseFloat(.01);
            }else{
                var fee = fee_rate;
            }

            $('#txn-fee').html(fee.toFixed(8));

            var total = parseFloat(fee) + parseFloat(value);
            
            $('#total-amt').html(total.toFixed(8));

            if(value==null|| value ==""|| parseFloat(value) == 0){
                $('#total-amt').html(0);
                $('#txn-fee').html(0);
            }
        }else{
            $('#txn-fee').html(0);

            if(value==null|| value ==""){
                $('#total-amt').html(0);
            }else{
                $('#total-amt').html(value);
            }
        }
    },300);
}

if($('#transfer-amt').val()!='' && $('#transfer-amt').val()!=null){
    getAmount($('#transfer-amt').val());
}

{% if error %}
    $('#message-model').modal('show');
{% endif %}

{% if success %}
    $('#confirm_Send #to_span').html("{{form.address.value}}");
    $('#confirm_Send #amount_span').html("{{form.amount.value}}");
    $('#confirm_Send').modal('show');
{% endif %}

function sendConfirm(){
    address = $(".wallet-send-coin-addr").val();
    amount = $(".wallet-send-coin-amt").val();
    $("#confirm_Send").modal("hide");
    $.ajax({
        type: "POST",
        url: "{% url 'coins:sendconfirm' %}",
        data: {
            'to': address,
            'amount': amount,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (data) {
            if(data['status'] == 'get-otp'){
                $("#otp-model .message-text").html('Enter SMS OTP');
                $("#otp-model .send-otp-btn").show();
                $('#otp-model input').val('');
                $("#otp-model").modal("show");
            }else if(data['status'] == 'get-totp'){
                $("#otp-model .message-text").html('Enter Google Authentication Code')
                $("#otp-model .send-otp-btn").hide();
                $('#otp-model input').val('');
                $("#otp-model").modal("show");
            }else if(data['error']){
                $("#message-model .modal-body h4").html(data['error']);
                $("#message-model").modal("show");
            }else{
                $("#successModal").modal("show");
            }
        }
    });
}

function sendOTP(){
    var value = $('#otp-model input').val();
    $.ajax({
        type: "POST",
        url: "{% url 'coins:sendconfirm' %}",
        data: {
            'value': value,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (data) {
            $("#otp-model, #message-model, #successModal").modal("hide");
            $("#otp-model .send-otp-btn").hide();
            $('#otp-model input').val('');

            if(data['success'] == true){
                $("#successModal").modal("show");
            }else if(data['status'] == 'otp-not-verified'){
                $("#otp-model .message-text").html('Invalid OTP. Try again.')
                $("#otp-model .send-otp-btn").show();
                $("#otp-model").modal("show");
            }else if(data['status'] == 'get-totp'){
                $("#otp-model .message-text").html('Enter Google Authentication Code')
                $("#otp-model").modal("show");
            }else if(data['status'] == 'totp-not-verified'){
                $("#otp-model .message-text").html('Invalid Google Authentication Code. Try again.')
                $("#otp-model").modal("show");
            }else if(data['error']){
                $("#message-model .modal-body h4").html(data['error']);
                $("#message-model").modal("show");
            }
        }
    });
}

function resendOTP(){
    $.ajax({
        type: "POST",
        url: "{% url 'coins:sendconfirm' %}",
        data: {
            'resend-otp': true,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }
    });
}
</script>

{% endblock script %}

{% block footer %}
{% endblock %}
