{% extends 'base.html' %} 
{% load static %}

{% block title %}Transaction Status{% endblock %}

{% block content %}
  <div class="verify">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
          &nbsp;
        </div>
        <div class="clearfix"></div>
        <h2 class="Ubuntu">
          {% if message %}
            {{message}}
          {% elif success %}
            Transaction is pending. Please Wait for Admin approval.
          {% elif error %}
            {{error}}
          {% else %}
            Transaction Failed.
          {% endif %}
        </h2>
        <div align="center" class="col-6 offset-3 d-flex  justify-content-around mt-3">
          <a href="{% url 'welcome' %}" class="btn btn-success">Go to Dashboard</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
{% block script %}
  <script src="js/vendor/jquery-1.11.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')</script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
{% endblock %}