{% extends 'base.html' %}  
{% load static %} 
{% load transaction_status %}

{% block title %}Transaction Record{% endblock %}

{% block extra_styles %}
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}


{% block content %}

  <div class="trans">



    <div class="container-fluid">
      <h2 class="Ubuntu mf15">Transaction Record</h2>
    </div>
      <div class="row m0">
        <div class="col-sm-12">
         <div class="trans-details">
           
            <ul class="nav nav-tabs">
              
              <li class="active "><a data-toggle="tab" href="#home">  <span><i class="far fa-arrow-alt-circle-down"></i> Deposit </span> </a></li>
              <li class=""><a data-toggle="tab" href="#menu1"><span><i class="far fa-share-square"></i> Withdrawal</span></a></li>

            </ul>

            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">

              <div>
                  <table class="table table-striped table-bordered send_data_table" id="send_table" width="100%">
        <thead>
          <tr>
            <th>Date&Time</th>
            <th>User</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Transaction Id</th>
            <th>Blockhash</th>
          </tr>
        </thead>
        <tbody>

         {% for transaction in deposit_transaction %}
        <tr>
            <td>{% conver_unix_to_datetime transaction.time %}</td>
            <td>{{transaction.account}}</td>
            <td>{% ifequal transaction.confirmations 0 %}
                    Unconfirmed
                {% else %}
                    Confirmed
                {% endifequal %}
            </td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.txid}}</td>
            <td>{{transaction.blockhash}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5"> No Transactions</td>
        </tr>
        {% endfor %}

        </tbody>
      </table>

    </div>


              </div>
              <div id="menu1" class="tab-pane table-responsive fade">
             

              <table class="table table-striped table-bordered" id="withdraw_table" width="100%">
        <thead>
          <tr>
            <th>Date&Time</th>
            <th>User</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Transaction Fees </th>
            <th>Mining Fees</th>
            <th>Collected Fees</th>
            <th>Transaction Id</th>
            <th>To</th>
          </tr>
        </thead>
        <tbody>
            {% for send_obj in withdraw_transactions %}
            <tr>
        <td>
        {% if send_obj.transaction_id != '' %}
          {% get_transaction_date send_obj.transaction_id %}
        {% else %}
          -
        {% endif %}
        </td>
        <td>{{send_obj.user}}</td>
        <td>
          {% if send_obj.transaction_id == '' %}
            Unconfirmed
          {% else %}
            {% ifequal send_obj.transaction_id|get_transaction_status 0 %}
                Unconfirmed
            {% else %}
                Confirmed
            {% endifequal %}
          {% endif %}
        </td>
        <td>{{send_obj.amount}}</td>
        <td>{{send_obj.transaction_fee|default:0}}</td>
        <td>{{send_obj.mining_fee}}</td>
        <td>{{send_obj.transaction_fee_except_mining_fees}}</td>
        <td>{{send_obj.transaction_id|default:"-"}}</td>
        <td>
            {{send_obj.transaction_to}} 
        </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5"> No Transactions</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

              </div>

            </div>

          </div>





        </div>



      </div>



    </div>


{% endblock content %}

{% block footer %}
{% endblock %}
{% block script %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#withdraw_table').DataTable({
        });
        $('#send_table').DataTable({
            "scrollX": true,
            "fixedHeader": false,
        } );
        $('.dataTables_info').parents('.row:first').css({'margin-top':'15px'})
    } );
</script>
{% endblock %}
