{% extends 'base.html' %}  
{% load static %} 
{% load transaction_status %}

{% block title %}User Accounts{% endblock %}

{% block content %}
  <div class="trans">



    <div class="container">
      <h2 class="Ubuntu mf15">User Accounts</h2>
        <div class="mf15 mb20"><h4>Main Balance : {% get_account_balance_btc %} BTC</h4> </div>
      <div class="row m0">
        <div class="col-sm-12">
         <div class="trans-details">

            <ul class="nav nav-tabs">

              <li class="active "><a data-toggle="tab" href="#home">  <span><i class="far fa-share-square"></i> Accounts </span> </a></li>

            </ul>

            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">

              <div class="table-responsive">
      <table class="table table_template darklinks table-striped table-bordered table-hover" id="timetable">
        <thead>
          <tr>
          	<th>User</th>
          	<th>Addresses</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>

          	{% for each_wallet_obj in wallet_obj %}
			<tr>
				<td>{{each_wallet_obj.user.username}}</td>
				<td>
                    {% for each_addr in each_wallet_obj.addresses.all %}
                    <span>{{ each_addr.address }}</span><br/>
                    {% endfor %}
                </td>
				<td>
                    <span>{% get_balance_btc each_wallet_obj.user %} BTC</span>
                </td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="5"> No Transactions</td>
			</tr>
			{% endfor %}
        </tbody>
      </table>
    </div>


              </div>
              <div id="menu1" class="tab-pane fade">
             

              <table class="table table_template darklinks table-striped table-bordered table-hover" id="timetable">

      </table>

              </div>

            </div>

          </div>





        </div>



      </div>



    </div>

  </div>
{% endblock content %}

{% block footer %}
{% endblock %}
