{% extends 'base.html' %}  
{% load static %} 
{% load transaction_status %}

{% block title %}Vault List{% endblock %}

{% block extra_styles %}
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}


{% block content %}

  <div class="trans">



    <div class="container-fluid">
      <h2 class="Ubuntu mf15">Vault List</h2>
    </div>
      <div class="row m0">
        <div class="col-sm-12">
         <div class="trans-details">

            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">

              <div>
                  <table class="table table-striped table-bordered send_data_table" id="table_list" width="100%">
        <thead>
          <tr>
            <th>Address</th>
            <th>Received Bitcoin</th>
          </tr>
        </thead>
        <tbody>

	     {% for vault in vault_list %}
		<tr>
			<td>{{vault.address}}</td>
			<td>{% get_recived_by_address vault.address %}</td>
			
		</tr>
		{% empty %}
		<tr>
			<td colspan="5"> No Active Vault Address</td>
		</tr>
		{% endfor %}

        </tbody>
      </table>

    </div>
              </div>
          </div>





        </div>



      </div>



    </div>


{% endblock content %}

{% block footer %}
{% endblock %}
{% block script %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#table_list').DataTable({
        });
        $('.dataTables_info').parents('.row:first').css({'margin-top':'15px'})
    } );
</script>
{% endblock %}
