{% extends 'base.html' %} 
{% load static %}
{% load transaction_status %} 

{% block title %}Vault to Wallet{% endblock title %}

{% block content %}
    <div class="send-coin ">
        <div class="container">
            <h2 class="Ubuntu mb20">Vault To Wallet</h2>
            <div class="row mb50 send-coin-wrap">
                <div class="row m0">
                    <h4 class="m30"> <b>BTC Main Wallet Details</b> </h4>
                    <div class="row m0 wallet-details">
                        <div class="col-sm-6">
                            <img class="d-inline-block" src="{% static 'img/bitcoin.png' %}" width="40px">
                            <p class="d-inline-block mf10"><b>BTC</b></p>
                        </div>
                        <div class="col-sm-6">
                            <p class="m10 f-medium" align="right">Bal : {% get_account_balance_btc %} BTC</p>
                            <p class="m10 f-medium" align="right"> Minimum Limit : {% get_minimum_limit_btc %} BTC</p>
                            <p class="m10 f-medium" align="right">Amount needs to Maintain Minimum Limit : {% get_amount_to_keep_minimu_limit %} BTC</p>
                        </div>
                    </div>
                    <div class="">
                        <h4 class="m30"><b>Private Address</b></h4>
                        <div class="form-group">
                            <input id="vault_address" class="form-control"  placeholder="Enter Address to Attach Wallet">
                        </div>

                        <div align="right">
                            <a href="{% url 'welcome' %}" type="button" class="btn-back btn m20 pull-left"> <i class="fas fa-arrow-left"></i> BACK TO DASHBOARD</a>
                            <button type="button" id="submit_amount" class="btn-main btn m20" >  CONFIRM </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="success_modal" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-body m50 text-center">
                    <img class="m30" src="{% static 'img/succes-thumb.png' %}" width="40%">
                    <h3 class="Ubuntu">Success</h3>
                    &nbsp;
                    <h6 class="Ubuntu m0">Address Attached to Wallet Successfully.</h6>
                    &nbsp;
                </div>
                <div class="pop-footer" style="text-align: center;">
                    <a style="" href="{% url 'welcome' %}" class="btn btn-main">OK</a>
                </div>
            </div>
        </div>
    </div>

    <div id="error_modal" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-body" style="padding: 50px 10px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img class="m30" src="{% static 'img/thumb-down.png' %}" width="40%">
                <h4 class="Ubuntu m0">Please ensure that the input field have value</h4>
            </div>
        </div>
    </div>
  </div>

  <div id="otp-model" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-body" style="padding-top: 40px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="message-text"> Enter SMS OTP</h4>
                <input name="otp"/>
            </div>
            <div class="pop-footer" style="text-align: center;">
                <button type="button" onclick="sendOTP()" class="btn btn-default" style="width: 200px;margin: 0px 11px;">Submit</button>
                <button type="button" onclick="resendOTP()" class="send-otp-btn btn btn-default" style="width: 200px;margin: 0px 11px;">Resend</button>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
<script>
    $('#submit_amount').click(function () {
        vault_address = $("#vault_address").val();
        
        if (vault_address) {
            $.ajax({
                type: 'POST',
                url: "{% url 'coins:vault_to_wallet' %}",
                data: {
                    'vault_address': vault_address,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(result) {
                    if(result['status'] == 'get-otp'){
                        $("#otp-model .message-text").html('Enter SMS OTP');
                        $("#otp-model .send-otp-btn").show();
                        $('#otp-model input').val('');
                        $("#otp-model").modal("show");
                    }else if(result['status'] == 'get-totp'){
                        $("#otp-model .message-text").html('Enter Google Authentication Code')
                        $("#otp-model .send-otp-btn").hide();
                        $('#otp-model input').val('');
                        $("#otp-model").modal("show");
                    }else if(result.success){
                        $("#success_modal").modal("show");
                    }else{
                        $("#error_modal .modal-body h4").html(result['error']);
                        $("#error_modal").modal("show");
                    }
                },
                error: function(result) {
                    $("#error_modal .modal-body h4").html('Something went wrong');
                    $("#error_modal").modal("show");

                }
            });
        }
        else {
            $("#error_modal").modal("show")
        }
    });

function sendOTP(){
    var value = $('#otp-model input').val();
    console.log(value);
    $.ajax({
        type: "POST",
        url: "{% url 'coins:vault_to_wallet' %}",
        data: {
            'value': value,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function (result) {
            console.log(result);
            $("#otp-model, #error_modal, #success_modal").modal("hide");
            $("#otp-model .send-otp-btn").hide();
            $('#otp-model input').val('');

            if(result['success'] == true){
                $("#success_modal").modal("show");
            }else if(result['status'] == 'otp-not-verified'){
                $("#otp-model .message-text").html('Invalid OTP. Try again.')
                $("#otp-model .send-otp-btn").show();
                $("#otp-model").modal("show");
            }else if(result['status'] == 'get-totp'){
                $("#otp-model .message-text").html('Enter Google Authentication Code')
                $("#otp-model").modal("show");
            }else if(result['status'] == 'totp-not-verified'){
                $("#otp-model .message-text").html('Invalid Google Authentication Code. Try again.')
                $("#otp-model").modal("show");
            }else if(result['error']){
                $("#error_modal .modal-body h4").html(result['error']);
                $("#error_modal").modal("show");
            }
        }
    });
}

function resendOTP(){
    $.ajax({
        type: "POST",
        url: "{% url 'coins:vault_to_wallet' %}",
        data: {
            'resend-otp': true,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }
    });
}

</script> 
{% endblock script %}