{% extends 'base.html' %}
{% load static %}
{% load transaction_status %}

{% block title %}BTC Wallet{% endblock %}


{% block content %}
<div class="wallet-2">
    <div class="container">
        <div class="row m0">
            <div class="col-sm-2">
                <img src="{% static 'img/bitcoin.png' %}" width="100%">
            </div>
            {% for obj in wallets %}
                {% if obj.name == 'btc' %}
                    <div class="col-sm-10">
                        <h3 class="Ubuntu">Your Wallet</h3>
                        <h1> {% get_balance_btc request.user %} <sub class="btc">BTC</sub></h1>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="hr-dotted">
                    <div class="flex-wrap wallet-options col-sm-7">

                        <div class="">
                            <a href="{% url 'coins:sendcoin' %}">
                                <h4> <i class="fas fa-share-square"></i> Withdrawal </h4>
                            </a>
                        </div>
                        <div class="">
                            <a href="" data-toggle="modal" data-target="#{{ obj.name }}{{ forloop.counter}}">
                                <h4><i class="fas fa-arrow-alt-circle-down"></i> Deposit </h4>
                            </a>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade col-12" id="{{ obj.name }}{{ forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="#{{ obj.name }}{{ forloop.counter}}Title"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content text-center">
                                <div class="d-none d-md-block modal-header text-center">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h3 class="modal-title text-capitalize"> Your
                                        <span class="text-uppercase">{{ obj.name }}</span> Wallet Address</h3>
                                </div>
                                <div class="col-12 d-md-none">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl={{obj.addresses.all.last.address}}" class="col-8 img-fluid"></img>

                                    <div class="col-12 wallet-address-span">
                                        <span class="col-10" style="word-wrap:break-word;" id="addr_input{{forloop.counter}}"> {{obj.addresses.all.last.address}}</span>

                                        <a href='' onclick="return false;" data-toggle="tooltip" data-placement="left" title="copied" class="btn1 col-2 tooltipped-se"
                                            data-clipboard-target="#addr_input{{forloop.counter}}">
                                            <i class="fa fa-clone"> </i>
                                        </a>
                                    </div>

                                </div>
                                <div class="modal-footer align-left">
                                    <span class="">
                                        <strong> Send only {{obj.name}} to this address.</strong> Sending any other digital asset, including
                                        Bitcoin Cash and USDT, will result in permanent loss.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    <script>
        $('.btn1').tooltip({
            trigger: 'click',
            placement: 'top'
        });


        new Clipboard('.btn1');

    </script>
{% endblock %}

