{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
{% if request.user.is_authenticated %}
<div style="padding-top: 5em"></div>
{% else %}
<div style="padding-top: 7em"></div>
{% endif %}
<div class="container">
    <h1 class="pb10">Contact Us</h1>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        <strong>Success!</strong>
        &nbsp;{{ message }}
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-warning fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Tips :</strong> Feedback and responses are in your Email;
    </div>
    {% endif %}
    <form action="{% url 'contact_us' %}" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">Bullxchange Account Email</label>
            {% render_field form.email  class="form-control" aria-describedby="emailHelp" placeholder="Enter email"%}
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="errorlist" style="padding-left:5px">
            {{ form.email.errors|striptags }}
        </div>
        <div class="form-group">
            <label for="id_subject">Subject</label>
            {% render_field form.subject  class="form-control"  placeholder="eg: Password change issue"%}
        </div>
        <div class="errorlist" style="padding-left:5px">
            {{ form.subject.errors|striptags }}
        </div>
        <div class="form-group">
            <label for="id_descrption">Description</label>
            {% render_field form.descrption  class="form-control"  placeholder="Do not exceeds more than 100 words" %}
        </div>
        <div class="errorlist" style="padding-left:5px">
            {{ form.descrption.errors|striptags }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary ">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
