{% extends 'base.html' %} {% load static %}

{% block title %}Email verification completed{% endblock %}

{% block content %}

	<div class="success">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="success-icon">
						<div class="outer">
							<div class="middle">
								{% if not error %}
								<div class="inner">
									<img src="{% static 'img/success.png' %}">
									<h3 class="white">SUCCESS !</h3>
								</div>
								{% endif %}
								<div class="alert-text">
									{% if error %}
										<h4>Link already been used or not valid</h4>
									{% else %}
										<h4>Email Verification Completed</h4>
									{% endif %}
									<a href="{% url 'login' %}" class="btn btn-success">Login</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}

