<h4>Hi {{ user.username }},</h4> </br>
<p>Welcome to Bullxchange and thank you for registering</p>
<p>Please click or copy the link below to activate your account:
   <a href="{{ domain }}{% url 'email_confirmation' uidb64=uid token=token %}">click here</a></p>
<p>If you didn't request this email or have no idea as to why you received it, please ignore it.  This activation link will valid for {{ expiration_days }} days.</p>
</br>
<p>Sincerely,</br>
Bullxchange</br>
http://bullxchange.io</p>
