{% extends 'base.html' %} {% load static %}

{% block title %}Enter OPT{% endblock %}

{% block content %}

<section class="Sign-wrapper">
    <div class="container content-block">
        <div class="col-sm-5 col-sm-offset-4">
            <h1 class="mt4em" style="text-align:center"> Enter Your <b>Google 2FA Code</b></h1>
            <div style="color: red;">{{ error }}</div>
			<form class="contact-form columns_padding_10" method="post" action=".">
				{% csrf_token %}
				<div class="form-group">
					<input type="text" size="30" value="" name="otp" id="id_otp" class="form-control" placeholder="OTP">
				</div>
				<div align="center"> <button type="submit" class="btn btn-default m20">Verify</button></div>
			</form>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
{% endblock %}