{% extends 'base.html' %}
{% load static %}

{% block title %}KYC Details{% endblock %}

{% block content %}

<style>
    li.active:hover a{
        background-color: #f9f9f9 !important;
        border: #f9f9f9 !important;
    }
    .nav-tabs>li{
        margin-bottom: 0px;
    }
</style>

<div class="kyc">
    <div class="container">
        <h2 class="Ubuntu mf15">KYC Details</h2>
        <div class="row m10">
            {% if messages %}
                    <div class="alert alert-success" style="position: relative;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
            {% endif %}
        </div>
        <div class="row m0">
            <div class="col-sm-12">
                <div class="kyc-details">
                    <ul class="nav nav-tabs">
                        <li class="process {% if processing %}active{% endif %}"><a href="{% url 'kyc_list' %}"></i> <span>Processing</span> </a></li>
                        <li class="process {% if active %}active{% endif %}"><a href="{% url 'active_list' %}"><span>Active</span></a></li>
                        <li class="process {% if rejected %}active{% endif %}"><a href="{% url 'rejected_list' %}"><span>Rejected</span></a></li>
                    </ul>
                   <div class="tab-content">
                        <div class="">
                            {% if processing %}
                                {% for object in processing_list %}
                                    <div class="row m0 ">
                                        <div class="col-sm-12 kyc-wrap">
                                            <div class="col-sm-8">
                                                <h4 class="m15"> <i class="fa fa-circle fa-0x processing"></i> {{object.email}}</h4>
                                            </div>
                                            <div align="center" class="col-sm-4">
                                                <a href="{% url 'kyc_detail' pk=object.pk %}" class="btn btn-disable"> View  </a>
                                                <a href="{% url 'kyc_approve' pk=object.pk %}" class="btn btn-disable"> Accept  </a>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="row m0 " align="middle">
                                        <div class="col-sm-12 kyc-wrap">
                                        No Record Found
                                        </div>
                                    </div>
                                {% endfor %}
                            {% elif active %}
                                {% for object in active_list %}
                                    <div class="row m0 ">
                                        <div class="col-sm-12 kyc-wrap">
                                            <div class="col-sm-8">
                                                <h4 class="m15"> <i class="fa fa-circle fa-0x processing"></i> {{object.email}}</h4>
                                            </div>
                                            <div align="center" class="col-sm-4">
                                                <a href="{% url 'kyc_detail' pk=object.pk %}" class="btn btn-disable"> View  </a>
                                                <a href="{% url 'kyc_resubmission' pk=object.pk %}" class="btn btn-disable"> Resubmission </a>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="row m0 " align="middle">
                                        <div class="col-sm-12 kyc-wrap">
                                        No Record Found
                                        </div>
                                    </div>
                                {% endfor %}
                            {% elif rejected %}
                                {% for object in rejected_list %}
                                    <div class="row m0 ">
                                        <div class="col-sm-12 kyc-wrap">
                                            <div class="col-sm-8">
                                                <h4 class="m15"> <i class="fa fa-circle fa-0x processing"></i> {{object.email}}</h4>
                                            </div>
                                            <div align="center" class="col-sm-4">
                                                <a href="{% url 'kyc_detail' pk=object.pk %}" class="btn btn-disable"> View  </a>
                                                <a href="{% url 'kyc_resubmission' pk=object.pk %}" class="btn btn-disable"> Resubmission </a>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="row m0 " align="middle">
                                        <div class="col-sm-12 kyc-wrap">
                                        No Record Found
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
