{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}KYC Details{% endblock %}

{% block content %}
<div class="verify">


    <div class="container">
        <h2 class="Ubuntu">Account Info</h2> 
        <div class="row">

            <div class="col-sm-10 col-sm-offset-1">


                <div class="row auth-head">

                    <h3 class="Ubuntu"><b>Step 1:</b> Profile</h3>

                    <div class="pull-right down-div fa">  </div>

                </div>
                <div class="row verify-profile">

                    <div class="col-sm-6">

                        <div class="form-group">
                            <label>First name</label>
                            <div>{{profile.first_name}}</div>
                        </div>

                        <div class="form-group">
                            <label>Nationality</label>

                            <div>{{profile.nationality}}</div>
                        </div>

                        <div class="form-group">
                            <label>Country of residence</label>

                            <div class="">{{ profile.get_country_of_residence_display }}</div>
                        </div>

                        <div class="form-group">
                            <label>City</label>

                           
                            <div>{{ profile.city }}</div>
                        </div>

                        <div class="form-group">
                            <label>Time zone</label>

                           
                            <div>{{ profile.timezone }}</div>
                        </div> 


                    </div>

                    <div class="col-sm-6">

                        <div class="form-group">
                            <label>Last name</label>

                            <div>{{profile.last_name}}</div>
                        </div>

                        <div class="form-group">

                            <label>Date of birth</label>

                            <div class="input-group">
                                
                                <div class="">{{ profile.date_of_birth}}</div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label>Address</label>

                      
                            <div class="">{{ profile.address }}</div>
                        </div>

                        <div class="form-group">
                            <label>ZIP</label>

                            <div class="">{{ profile.zip_code }}</div>
                        </div> 

                    </div>

                </div>




    
                <div class="row upload-document">

                   

                    <h3 class="Ubuntu m50">Photo ID</h3>

                    <div class="row m0">


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Type of document</label>

                                <div class="">{{ kyc.document_type }}</div>
                            </div>

                            <div class="form-group m40">
                                <label>Front of document</label>
                                <label for="file-upload" style="border:none;" class="custom-file-upload pd0">
                                    <div align="center"><img src="{{ kyc.front_page.url }}" width="100%" ></div>
                                </label>


                            </div>




                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>IC/Passport Number</label>

                                <div class="">{{ kyc.document_number}}</div>
                            </div>

                            <div class="form-group m40">
                                <label>Back of document</label>
                                <label for="file-upload" style="border:none;" class="custom-file-upload pd0">
                                    <div align="center"><img src="{{ kyc.back_page.url }}" width="100%" ></div>

                                    <div class="">

                            </div>

                        </div>



                    </div>
                    </div>

                    <h3 class="Ubuntu m50">Proof of address</h3>
                    <label class="mb30">Documents showing your name and address, such as bank statement and utility bill</label>

                    <div class="full-upload">
                        <label  class="custom-file-upload ">
                            <div align="center"><a href="{{ address_proof.address_proof.url }}" class="" ></div> view document
                            <div class=""></div>
                        </label>


                    </div>
                <div class="row auth-head">

                    <h3 class="Ubuntu"><b>Step 3:</b>Selfie with the documents and a note</h3>

                </div>

                <div class="row upload-document">

                    <div class="full-upload">
                        <label for="id_photo_selfi" class="custom-file-upload pd0" ">
                            <div align="center" style="height: 450px;"><img src="{{ address_proof.photo_selfi.url }}" width="100%" height="100%" style="margin-top:0px !important"/></div>
                        </label>


                    </div>

                </div>
    <div style="text-align:right; padding:20px;">

        {% if request.user.is_superuser %}
            {% if user.kyc_verified == 'processing' %}
                <a href="{% url 'kyc_approve' pk=user.pk %}" style="width:200px" class="btn btn-primary">Approve</a>
            {% endif %}
            <a href="{% url 'kyc_list' %}" style="width:200px;margin-right:15px;" class="btn btn-success">Back To KYC List</a>
        {% else %}
            <a href="{% url 'welcome' %}" style="width:200px;margin-right:15px;" class="btn btn-success">Back To Dashboard</a>
        {% endif %}
    </div>

                </div>
        </div>

    </div>


</div>
{% endblock %}

{% block footer %}
    
{% endblock %}

{% block script %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
  </script>
{% endblock %}