{% extends 'base.html' %} {% load static %}

{% block title %}Enter Phone Number{% endblock %}

{% block content %}

<div class="sms">
    <div class="container">
        <h2 class="Ubuntu">Enable SMS Authentication</h2>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row auth-head">
                    <h3 class="Ubuntu"><b>Step 1:</b> Enter your phone number below</h3>
                    <div class="pull-right down-div fa">  </div>
                </div>
                <div class="row nmbr">
                    <div class="col-sm-4">
                        <label>Country Code</label>
                        <input class="form-control" id="id_phone_number"></input>
                    </div>
                    <div class="col-sm-4">
                        <label>Phone number</label>
                        <input type="tel" size="30" value="" id="mobile_number"  class="form-control" placeholder="Mobile Number">
                    </div>
                    <div class="col-sm-4">
                        <button  onclick="sendData()" width="100%" class="btn btn-main">Submit</button>
                    </div>
                    <div class="clearfix" ></div>
                    <div class="row m0 error">
                        <div align="center" class="col-xs-2 fa">
                            
                        </div>
                        <div class="col-xs-8">
                            Please Check the Phone Number
                        </div>
                    </div>
                </div>
                <div class="row auth-head">
                    <h3 class="Ubuntu"><b>Step 2:</b> Confirm your phone number</h3>
                    <div class="pull-right down-div fa">  </div>
                </div>
                <div class="row fa2">
                    <div class="row m0 warning">
                        <div align="center" class="col-xs-2 fa">
                            
                        </div>
                        <div class="col-xs-8">
                            You will receive an sms with verification code to the mobile number you have provided,
                            Please enter it below.
                        </div>
                    </div>
                    <div class="row m0 error otp-message">
                        <div align="center" class="col-xs-2 fa">
                            
                        </div>
                        <div class="col-xs-8">
                            Invalid OTP, Try again
                        </div>
                    </div>
                    <div class="row fa2-code">
                        <div class="col-sm-8">
                            <label class="m20">Please enter the 2FA code here</label>
                            <input type="text" id="mobile_otp" class="form-control" placeholder="Example: 24548">
                        </div>
                        <div class="col-sm-4">
                            <button  width="100%" class="btn btn-main" onclick="validate_OTP()" disabled id="otp_validate_btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<section class="Sign-wrapper content-block">-->
        <!--<div class="container-fluid p0">-->
            <!--<div class="col-sm-6 p0 hidden-xs">-->
                <!--<img src="{% static 'img/signin_logo.png' %}" width="100%">-->
            <!--</div>-->
            <!--<div class="col-sm-5  register-wrap">-->
                <!--<h1>Enter Your Mobile Number</h1>-->
			<!--<div style="color: red;">{{ error }}</div>-->
			<!--<form class="" method="post" action="./">-->
				<!--{% csrf_token %}-->
				<!--<div class="form-group">-->
					<!--<input type="tel" size="30" value="" name="phone_number" id="id_phone_number"  class="form-control" placeholder="Mobile Number">-->
					<!--<a href="#" class="pull-right Resend"> <span class="glyphicon glyphicon-repeat"></span> Resend</a>-->
				<!--</div>-->


				<!--<div class="clearfix"></div>-->
				<!--<div align="center"> <button type="submit" class="btn btn-default" onclick="sendData();">SUBMIT</button>-->

				<!--</div>-->
			<!--</form>-->
        <!--</div>-->
    <!--</section>-->

{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#id_phone_number").intlTelInput();
        var code = $("#id_phone_number").intlTelInput("getSelectedCountryData").dialCode;
        $("#id_phone_number").val('+'+code);
    })
    $('body').on('click', '.country-list>li', function(){
        var code = $("#id_phone_number").intlTelInput("getSelectedCountryData").dialCode;
        $("#id_phone_number").val('+'+code);
    });


    $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         }
    });

    function sendData(){
    	value = $("#mobile_number").val();
        code = $("#id_phone_number").val();
    	//$("input[name='phone_number']").val(code+''+value);
    	$.ajax({
            url: '{% url "enable_otp" %}',
            method:'post',
            data: {
              'phone_number': code+''+value
            },
            dataType: 'json',
            success: function (data) {
              if (data.status) {
                    $('.error').hide()
                    $('.warning').show()
                    $('#otp_validate_btn').prop('disabled', false);
                    otp_validate_btn
              }
              else{
                    $('.warning').hide()
                    $('.error:not(".otp-message")').show()
              }
            }
        });
    }

    function validate_OTP(){
    	value = $("#mobile_otp").val();

    	//$("input[name='phone_number']").val(code+''+value);
    	$.ajax({
            url: '{% url "validate_otp" %}',
            method:'post',
            data: {
              'otp': value
            },
            dataType: 'json',
            success: function (data) {
              if (data.status) {
                console.log('success')
                window.location.href = data.success_url
              }
              else{console.log('fail')
              $('.warning').hide()
              $('.error').hide()
              $('.otp-message').show()
              }
            }
        });
    }

</script>
{% endblock %}
