<h4>Hi {{ user.username }},</h4> </br>
<p>It looks like you recently signed into Bullxchanage from a new device.</p>

<p>Device : {{access_obj.os}}</p>
<p>Browser : {{access_obj.device}}</p>
<p>IP : {{access_obj.ip}}</p>

<p>Please <a href="{{ contact_us }}"><b>contact us</b></a> if it was not done by you.</p>
</br>
<p>Sincerely,</p>
<p>Bullxchange</p>
<p>http://bullxchange.io</p>