{% extends 'base.html' %} 
{% load static %}
{% load widget_tweaks %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<section class="Sign-wrapper">
    <div class="container content-block">
        <div class="col-sm-5 col-sm-offset-4">
            <h1 class="mt4em" style="text-align:center"> Password Reset</h1>
			<div style="color: red;">{{ form.non_field_errors }}</div>
			<form class="contact-form columns_padding_10" method="post" action="./">
				{% csrf_token %}
				<div class="form-group">
					{% render_field form.email class="form-control login-input" placeholder="Enter your mail" %}
					<div class="errorlist">{{ form.email.errors|striptags }}</div>
				</div>
				<div align="center">
					<button type="submit" class="btn btn-default m20">Reset Password</button>
				</div>
			</form>
			<div align="center" class="col-6 offset-3 d-flex  justify-content-around mt-3">
				<a href="{% url 'login'%}">Login</a>
				<span>&nbsp;|&nbsp;</span>
				<a href="{% url 'signup' %}">Signup</a>
			</div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}


