<h4>Hi {{ user.username }},</h4> </br>
<h3>Your bullxchange password has been changed.</h3>
<p>Please <a href="{{ contact_us }}"><b>contact us</b></a> if it was not done by you.</p>
</br>
<p>Sincerely,</p>
<p>Bullxchange</p>
<p>http://bullxchange.io</p>
