{% extends 'base.html' %} 
{% load static %}
{% load i18n %}

{% block title %}{{title}}{% endblock %}

 {% block content %}
        <section class="Sign-wrapper" style="padding-top: 68px;">

            <div class="container-fluid p0">

                {% if validlink %}
                <div class="col-sm-5 p0 hidden-xs" style="position: absolute;top:0;left:0;height:100%;">
                    <img src="{% static 'img/signin_logo.png' %}" style="width:100%;height:100%">
                </div>
                <form method="post" id="resetform" class="col-sm-offset-6">
                    {% csrf_token %}
                    <div class="register-wrap">
                        <h1>Reset Password</h1>
                        {{form.non_field_errors}}
                        <div class="form-group">
                            <label for="email">* New Password <i class="fa grey fa-info-circle p-relative">
                                <div class="info-password">
                                    <ul>
                                        <li> <i class="fa fa-circle fa-0x"></i>  Minimum 8 characters</li>
                                    <li> <i class="fa fa-circle fa-0x"></i> At least 1 digit</li>
                                    <li> <i class="fa fa-circle fa-0x"></i> At least 1 lower case letter</li>
                                    <li> <i class="fa fa-circle fa-0x"></i>At least 1 upper case letter</li>
                                    </ul>
                                </div>
                            </i></label>
                            <input type="password" class="form-control" placeholder="Please set your login password" autocomplete="off" name="new_password1" id="id_new_password1" tabindex="1" onblur="this.setAttribute('readonly','');" onfocus="this.removeAttribute('readonly');" readonly style="cursor: text; background-color: #fff;">
                        </div>
                        <div class="errorlist" style="padding-left:5px">
                            {% for error in form.new_password1.errors %}
                                {{error}}<br />
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="email">* Confirm password</label>
                            <input type="password" class="form-control" autocomplete="off"  placeholder="Confirm your password" name="new_password2" id="id_new_password2" tabindex="2" onblur="this.setAttribute('readonly','');" onfocus="this.removeAttribute('readonly');" readonly style="cursor: text; background-color: #fff;">
                        </div>
                        <div class="errorlist" style="padding-left:5px">
                            {% for error in form.new_password2.errors %}
                                {{error}}<br />
                            {% endfor %}
                        </div>

                        <div class="clearfix"></div>
                       <div align="right"> <a href="{% url 'index' %}" class="btn btn-link m20" tabindex="3">Cancel</a> 
                        <button class="btn btn-info m20" tabindex="4">Change</button> 
                        </div>
                    </div>
                </form>
                {% else %}
                    <div class="text-center" style="margin-top: 15vh;">
                        <h2>{{title}}</h2>
                    </div>

                    <p class="text-center">{% trans "The password reset link was invalid, possibly because it has already been used or expired.  Please request a new password reset link." %}</p>
                {% endif %}
            </div>
        </section>
{% endblock %}

{% block footer %}
{% endblock %}