{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<section class="Sign-wrapper">
	<div class="container-fluid p0">
			<div class="text-center" style="margin-top: 15vh;">
				<h2>{{title}} {{invalid_email}}</h2>
			</div>

			<section class="ls columns_padding_25 section_padding_top_75 section_padding_bottom_130">
				<div class="container">
					<div class="row ">
                      
                      <div class="text-center">
                        
						<p>
							We've emailed you instructions for resetting your password.
						</p>
						<p>

							If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
						</p>
                      </div>
					</div>
				</div>
			</section>
	</div>
</section>

{% endblock %}

{% block footer %}
{% endblock %}