{% extends 'base.html' %} 
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
        <section class="Sign-wrapper">
            <div class="container-fluid p0 text-center">
                    <div class="text-center" style="margin-top: 15vh;">
                        <h2>{{title}}</h2>
                    </div>
                    <p>You login password has changed successfully</p>
                    
                    {% if request.path == '/auth/reset/done/' %}
						<a href="{% url 'login' %}" class="btn btn-success">Login</a>
					{% elif request.path == '/auth/password_change/done/' %}
						<a href="{% url 'welcome' %}" class="btn btn-success">Dashboard</a>
					{% endif %}
            </div>
        </section>
{% endblock %}

{% block footer %}
{% endblock %}