{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="Sign-wrapper">
    <div class="container-fluid p0">
        <div class="equal-div-container">
        <div class="col-sm-5 p0 hidden-xs equal-div image-div">
            <!-- <img src="{% static 'img/signin_logo.png' %}" width="100%"> -->
        </div>
        <div class="col-sm-5 equal-div right-side content">
            <div class="contact-form row columns_padding_10">
                <div></div>
                <h1>Profile</h1>
                    {% if messages %}
                            <div class="alert alert-success">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    <div class="row wrap-row">
                    <div class="col-xs-12 text-left">
                        <div class=" col-xs-6 tital">First Name:</div>
                        <div class=" col-xs-6 ">{{object.first_name}}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-xs-6 tital ">Last Name:</div>
                        <div class="col-xs-6"> {{object.last_name}}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-xs-6 tital ">Username:</div>
                        <div class="col-xs-6">{{object.username}}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-xs-6 tital ">Email:</div>
                        <div class="col-xs-6">{{object.email}}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>
                    </div>
                </div> 

                
                <div class="clearfix"></div>
                <a href="{% url 'account_edit' %}" class="btn btn-default m20">Update</a>
            </div>
        </div>
    </div>
    </div>

</section>
{% endblock %}

{% block footer %}
{% endblock %}