{% extends 'base.html' %} 
{% load static %}
{% load transaction_status %} 

{% block title %}Set Mining Fees{% endblock title %}

{% block content %}
    <div class="send-coin ">
        <div class="container">
            <h2 class="Ubuntu mb20">Set Mining Fees</h2>
            <div class="row mb50 send-coin-wrap">
                <div class="row m0">
                    <h4 class="m30"> <b>BTC Mining Fees Details</b></h4>
                    <div class="row m0 wallet-details">
                        <div class="col-sm-6">
                            <img class="d-inline-block" src="{% static 'img/bitcoin.png' %}" width="40px">
                            <p class="d-inline-block mf10"><b>BTC</b></p>
                        </div>
                        <div class="col-sm-6">
                            <p class="m10 f-medium" align="right"> Current Mining Fees: {{mining_fees}} BTC per Kilobyte</p>
                        </div>
                    </div>
                    <div class="">
                        <h4 class="m30"><b>New Mining Fees in BTC per Kilobyte</b></h4>
                        <div class="form-group">
                            <input id="mining_fees" class="form-control"  placeholder="Enter New Mining Fees">
                        </div>

                        <div align="right">
                            <a href="{% url 'welcome' %}" type="button" class="btn-back btn m20 pull-left"> <i class="fas fa-arrow-left"></i> BACK TO DASHBOARD</a>
                            <button type="button" id="submit_amount" class="btn-main btn m20" >  CONFIRM </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="success_modal" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-body m50 text-center">
                    <img class="m30" src="{% static 'img/succes-thumb.png' %}" width="40%">
                    <h3 class="Ubuntu">Success</h3>
                    &nbsp;
                    <h6 class="Ubuntu m0">Mining Fees Changed Successfully.</h6>
                    &nbsp;
                </div>
                <div class="pop-footer" style="text-align: center;">
                    <a style="" href="{% url 'welcome' %}" class="btn btn-main">OK</a>
                </div>
            </div>
        </div>
    </div>

    <div id="error_modal" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-body" style="padding: 50px 10px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img class="m30" src="{% static 'img/thumb-down.png' %}" width="40%">
                <h4 class="Ubuntu m0">Please ensure that the input field have value.</h4>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
<script>
    $('#submit_amount').click(function () {
        mining_fees = $("#mining_fees").val();
        
        if (mining_fees) {
            $.ajax({
                type: 'POST',
                url: "{% url 'fees:mining_fees' %}",
                data: {
                    'mining_fees' : mining_fees,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(result) {
                    if(result.success){
                        $("#success_modal").modal("show");
                    }else{
                        $("#error_modal .modal-body h4").html(result['error']);
                        $("#error_modal").modal("show");
                    }
                },
                error: function(result) {
                    $("#error_modal .modal-body h4").html('Something went wrong');
                    $("#error_modal").modal("show");

                }
            });
        }
        else {
            $("#error_modal").modal("show")
        }
    });
</script> 
{% endblock script %}