{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Settings{% endblock %}

{% block content %}
   <div class="setting-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row user-details">
                        <div class="col-sm-6 p0">
                            <div class="row">
                                <!--<div class="col-sm-3"><img src="{% static 'img/user-img.png' %}" width="80px" height="80px"> </div>-->
                                <div class="col-sm-9">
                                    <h4>{{request.user.email}}</h4>
                                    <p>{{request.user.get_user_profile.first_name}} {{request.user.get_user_profile.last_name}}</p>
                                </div>
                            </div>
                        </div>
                        <div align="right" class="col-sm-6 pr15">
                            <button class="btn btn-verified"> <b> <i class="fas fa-check" style="color: #0fd800;"></i> Email Verified</b> </button>
                            {% if request.user.kyc_verified == 'not-verified' %}
                                <a href="{% url 'kyc_upload' %}" class="btn btn-verify-account"> <b>Verify Account</b></a>
                            {% elif request.user.kyc_verified == 'processing' %}
                                <button  class="btn btn-verified"> <b><i class="fas fa-refresh" style="color: #ff370f;"></i> Verification In Process</b></button>
                            {% elif request.user.kyc_verified == 'verified' %}
                                <button  class="btn btn-verified"> <b><i class="fas fa-check" style="color: #0fd800;"></i> Account Verified</b></button>
                            {% elif request.user.kyc_verified == 'rejected' %}
                                <button  class="btn btn-verified"> <b><i class="fas fa-close" style="color: red;"></i> Account Rejected</b></button>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row settings-top">
                        <div class="bg-grey">
                            <div class="col-sm-6">
                                <h2 class="Ubuntu ">Security</h2>
                                <p><b>Password</b> <span>{% if request.user.change_password_date %}(Last changed on {{request.user.change_password_date|date:"d M Y"}}){% endif %}</span></p>
                            </div>
                            <div align="right" class="col-sm-6">
                                <a href="{% url 'password_change' %}" class="btn btn-a">Change Password</a>
                            </div>
                        </div>
                    </div>
                    <div class="row options-row">
                        <div class="col-sm-8">
                            <h4><b>Google Authenticator</b></h4>
                            <p><b>Download Google Authenticator to generate 2FA code</b></p>
                        </div>
                        <div align="right" class="col-sm-4">
                            {% if user.google_2fa %}
                                <a href="{% url 'desable_2fa' %}" class="btn-disable btn">Disable</a>
                            {% else %}
                                <a href="{% url 'enable_2fa' %}" class="btn-enable btn">Enable</a>
                            {% endif %}
                        </div>
                        <div class="col-sm-7">
                            <h4>
                                <b>SMS {% if request.user.sms_otp %}
                                    ({{request.user.phone_number}})
                                    {% endif %}
                                </b>
                            </h4>
                            <p><b>Use your mobile phone to generate 2FA code</b></p>
                        </div>
                        <div align="right" class="col-sm-5">
                            {% if request.user.sms_otp %}
                                <a href="{% url 'upadte_phone_number' %}" class="btn-disable btn">Update Number</a>
                                <a href="{% url 'desable_otp' %}" class="btn-disable btn">Disable</a>
                            {% else %}
                                <a href="{% url 'otp' %}" class="btn-enable btn">Enable</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row settings-top">
                        <div class="bg-grey">
                            <div class="col-sm-6">
                                <h2 class="Ubuntu ">Bank Setting</h2>
                                <p><b>Your Bank Accounts</b> </p>
                            </div>
                            <div align="right" class="col-sm-6">
                                <button class="btn add-bank" onclick="addBank()">Add New Bank Account</button>
                            </div>
                        </div>
                    </div>
                    <div class="row options-row">
                        {% for bank_account in bank_accounts %}
                            <div class="col-sm-8">
                                <h4><b>{{bank_account.bank_name}}</b></h4>
                                <p><b> {% if bank_account.verified %} <i class="fas fa-check" style="color: #0fd800;"></i>{% endif %} {{bank_account.verified|yesno:"Verified, Wire money to verify your bank account"}}</b></p>
                            </div>
                            <div align="right" class="col-sm-4">
                                <a href="{% url 'edit_bank_account' bank_account.pk %}" class="btn-disable btn"><i class="fas fa-pencil-alt"></i> Edit</a>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
   </div>

   <div id="add-bank-modal" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" style="text-align: left; padding: 20px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <br>
                    <h3 style="font-weight: bolder;">Add New Bank Account</h3>
                    <div style="padding:20px;">
                        <form id="bank-form" class="form-horizontal" action="." method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.bank_name.id_for_label }}" class="control-label col-sm-4" style="padding:auto; text-align: left;">{{bank_form.bank_name.label}}</label>
                                <div class="input-group col-sm-7 col-xs-12">
                                     {% render_field bank_form.bank_name class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.account_holder_name.id_for_label }}" class="control-label col-sm-4" style="padding:auto; text-align: left;">{{bank_form.account_holder_name.label}}</label>
                                <div class="input-group col-sm-7 col-xs-12">
                                     {% render_field bank_form.account_holder_name class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group bank-account-type">
                                <label for="{{ form.account_type.id_for_label }}" class="control-label col-sm-4" style="padding:auto; text-align: left;">{{bank_form.account_type.label}}</label>
                                <div class="input-group col-sm-7 col-xs-12">
                                     {% for radio in bank_form.account_type %}
                                        <label for="{{ radio.id_for_label }}">
                                            {{ radio.choice_label }}
                                            <span class="radio">{{ radio.tag }}</span>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.account_number.id_for_label }}" class="control-label col-sm-4" style="padding:auto; text-align: left;">{{bank_form.account_number.label}}</label>
                                <div class="input-group col-sm-7 col-xs-12">
                                     {% render_field bank_form.account_number class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.swift_number.id_for_label }}" class="control-label col-sm-4" style="padding:auto; text-align: left;">SWIFT Number</label>
                                <div class="input-group col-sm-7 col-xs-12">
                                     {% render_field bank_form.swift_number class="form-control" %}
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 60px;">
                                <div class="col-sm-offset-4 col-sm-7 col-xs-12" style="padding-left:0px;">
                                  <button id="add-button" type="submit" class="btn" style="padding:10px; background-color: #48e543;color: white;">ADD BANK ACCOUNT</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="success-modal" style="background: rgba(11, 11, 11, 0.8);" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <div class="modal-body" style="padding:20px;">
                    <p><a href="{% url 'coins:settings' %}" class="pull-right" style="text-decoration: none; color:black;"><i class="fa fa-close" style="font-size:24px"></i></a></p>
                    <img class="m30" src="{% static 'img/succes-thumb.png' %}" width="40%">
                    <h3 class="Ubuntu">Bank Account Successfully Added</h3>
                    &nbsp;
                    <h5 class="Ubuntu m0">To verify your bank account, wire transfer from this bank account by creating a deposit in the deposit function</h5>
                    <br>
                    <br>
                    <a href="{% url 'coins:settings' %}" class="btn" style="padding:10px; width:150px; background-color: #48e543;color: white;">OK</a>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script>
    function addBank(){
        $('#add-bank-modal h3').html('Add Bank Account');
        $('#add-bank-modal').modal('show');
    }

    $('#bank-form').submit(function(e){
        e.preventDefault();
        $('div.errorlist').remove();
        $('#error-modal').modal('hide');

        $.ajax({
            type: "POST",
            url: "{% url 'add_bank_account' %}",
            dataType: "json",
            data: $(this).serialize(),
            success: function(data) {
                if(data['success']){
                    $('#add-bank-modal').modal('hide');
                    $('#success-modal').modal('show');
                }else{
                    var errors_dict = data['errors_dict'];
                    var error_field;
                    for(error_field in errors_dict){
                        var id = '#id_' + error_field;
                        var errroArray = errors_dict[error_field];
                        for(var i=0; i < errroArray.length; i++){
                            error_text = errroArray[i].replace('BIC', 'SWIFT');
                            $(id).after('<div class="errorlist">'+ error_text +'</div>');
                        }
                    }

                }
            },
            error: function(data) {
                console.log('error');
            }
        });
    });
</script>
{% endblock %}